{% extends 'layout.html' %}

{% block title %}SignUp{% endblock %}

{% block content %}
    <div class="containerFormulario">
        <h2>Registro</h2>
        <!-- Cambié el 'action' a 'auth.signUp' -->
        <form action="{{ url_for('auth.signUp') }}" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" required>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" name="apellido" id="apellido" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="mb-3">
                <label for="contraseña" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="contraseña" id="contraseña" required>
            </div>
            <div class="mb-3">
                <label for="rol" class="form-label">Rol</label>
                <select class="form-select" name="rol" id="rol" required>
                    <option value="" disabled selected>Selecciona un rol</option>
                    <option value="cliente">Cliente</option>
                    <option value="administrador">Administrador</option>
                </select>
            </div>
            <button type="submit" value="registrar" class="btn btn-primary">Registrar</button>
        </form>
    </div>
{% endblock %}
