{% extends 'layout.html' %}
{% block title %}Detalle vuelo{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="flight-details">
                <h2>Detalles del Vuelo</h2>
                <div class="flight">
                    <h3>{{vuelo.origen}}</h3>
                    <p>{{vuelo.fecha-ida}}</p>
                    <p>{{vuelo.horario_salida}}</p>
                </div>
                <div class="flight">
                    <h3>{{vuelo.destino}}</h3>
                    <p>{{vuelo.fecha-vuelta}}</p>
                    <p>{{vuelo.horario_llegada}}</p>
                </div>
            </div>
            <div class="price-summary">
                <h2>Resumen de Precio</h2>
                <p>Precio del pasaje: $250</p>
                <p>Comision de la pagina: $50</p>
                <p>Precio Total: $300</p>
                <button id="finalizar-compra">Finalizar Compra</button>
            </div>
        </div>
    </section>
{% endblock %}
    