<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>ABM Usuarios</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Hoteles</h1>
            </header>

            <br><br>

        <button><a href="/busqueda/buscarHotel">Buscar Hotel</a></button>

        <button><a href="/busqueda/indexUsuarioAdministrador">Regresar al Inicio</a></button>

        <br><br>

            <img src="../static/css/Hoteles.png" width="100%" alt="Hoteles">
        
    </div>

    <footer>
        <p>© 2024 Mi aplicación Flask</p>
    </footer>

</body>
</html>