<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Lista Usuarios</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
        <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
        <span>Travel Ease</span>
        </div>
    </header>

    <div class="container">
        <header>
        <h1>Lista de Usuarios</h1>
        </header>
        
        <br><br>

        <section>
            <div>
               <a href="{{ url_for('detalle.users') }}" method="GET">
                    <button type="button">Ver Usuarios</button>
                </a>
            </div>
        </section>

        <br>

        <section>
            <div>
               <a href="{{ url_for('busqueda.indexUsuarioAdministrador') }}" method="GET">
                    <button type="button">Volver</button>
                </a>
            </div>
        </section>

    </div>

    <footer>
        <p>© 2024 Mi aplicación Flask</p>
    </footer>

</body>
</html>