<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Lista Usuarios</title>
</head>
<body>
    <div class="container">
        <header>
        <h1>Lista de Usuarios</h1>
        </header>

        <br><br>

        </button> <button><a href="/detalle/users"> Ver Usuarios</a></button>

        <button><a href="/busqueda/indexUsuarioAdministrador">Regresar al Inicio</a></button>

    </div>

    <footer>
        <p>© 2024 Mi aplicación Flask</p>
    </footer>

</body>
</html>