{% extends 'layout.html' %}
{% block title %}Lista de usuarios{% endblock %}
{% block content %}


    <section class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="container bg-white shadow p-4 rounded">
            <div class="text-center mb-4">
                <h1 class="fw-bold">Lista de Usuarios</h1>
            </div>

            <div class="d-flex justify-content-center gap-3">
                <a href="/detalle/users" class="btn btn-primary btn-lg">Ver Usuarios</a>
                <a href="/busqueda/indexUsuarioAdministrador" class="btn btn-secondary btn-lg">Regresar al Inicio</a>
            </div>
        </div>
    </section>
{% endblock %}   

  
