<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>ABM Usuarios</title>
</head>
<header class="navbar">
    <div class="logo">
    <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
    <span>Travel Ease</span>
    </div>
</header>
<body>
    <div class="container">
            <header>
                <h1>Precio de Hoteles</h1>
                </header>

                <br><br>

                <section>
                    <div>
                       <a href="{{ url_for('busqueda.buscar_Precios_de_Hoteles') }}" method="GET">
                            <button type="button">Buscar Precios de Hoteles</button>
                        </a>
                    </div>
                </section>

                <br>

                <section>
                    <div>
                       <a href="{{ url_for('busqueda.indexUsuarioAdministrador') }}" method="GET">
                            <button type="button">Volver</button>
                        </a>
                    </div>
                </section>

        <br><br>

        <img src="/static/css/Precio_Hoteles.png" width="100%" alt="Precio de Hoteles">
      
    </div>

    <footer>
            © 2024 Agencia de Viajes. Todos los derechos reservados.
        </footer>

</body>
</html>