<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>ABM Usuarios</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
        <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
        <span>Travel Ease</span>
        </div>
    </header>
    <div class="container">
        <header>
            <h1>Precio de Vuelos</h1>
            </header>

            <br><br>

            <section>
                <div>
                   <a href="{{ url_for('busqueda.buscar_Precios_de_Vuelos') }}" method="GET">
                        <button type="button">Buscar Precios de Vuelos</button>
                    </a>
                </div>
            </section>

            <br>

            <section>
                <div>
                   <a href="{{ url_for('busqueda.indexUsuarioAdministrador') }}" method="GET">
                        <button type="button">Volver</button>
                    </a>
                </div>
            </section>
        
        <br><br>

        <img src="../static/css/Precio_Vuelos.png" width="100%" alt="Precio de Vuelos">

    </div>

    <footer>
        <p>© 2024 Mi aplicación Flask</p>
    </footer>

</body>
</html>