<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Usuarios</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
        <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
        <span>Travel Ease</span>
        </div>
    </header>

    <div class="container">
        <header>
        <h1>Usuarios</h1>
        </header>
    </div>

    <br><br>

    <h2>Nombre: {{infoPersona.name}}</h2>
    <p>Genero: {{infoPersona.gender}}</p>
    <p>Dirección: {{infoPersona.street}}</p>
    <p>Ciudad: {{infoPersona.city}}</p>
    <p>Estado: {{infoPersona.state}}</p>
    <p>Pais: {{infoPersona.country}}</p>
    <p>Email: {{infoPersona.email}}</p>
    <p>Celular: {{infoPersona.celular}}</p>
    

    <br>
    <section>
        <div>
           <a href="{{ url_for('detalle.Lista_de_Usuarios') }}" method="GET">
                <button type="button">Volver</button>
            </a>
        </div>
    </section>

    <br><br>

    <footer>
        <p>© 2024 Mi aplicación Flask</p>
    </footer>

</body>
</html>