<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>ABM Usuarios</title>
</head>
<header class="navbar">
    <div class="logo">
    <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
    <span>Travel Ease</span>
    </div>
</header>
<body>
    <div class="container">
        <header>
            <h1>Vuelos</h1>
            </header>

            <br>

            <section>
                <div>
                   <a href="{{ url_for('busqueda.buscarVuelo') }}" method="GET">
                        <button type="button">Buscar Vuelos</button>
                    </a>
                </div>
            </section>

            <br>
        
            <section>
                <div>
                   <a href="{{ url_for('busqueda.indexUsuarioAdministrador') }}" method="GET">
                        <button type="button">Volver</button>
                    </a>
                </div>
            </section>

            <br><br>

            <img src="../static/css/Vuelos.jpg" width="100%" alt="Vuelos">


    </div>

    <br>
    <section>
        <div class="container">
           <a href="{{ url_for('busqueda.ver_vuelos') }}" method="GET">
                <button type="button">Ver Vuelos</button>
            </a>
        </div>
    </section>

    <br><br>
    
    <footer>
            © 2024 Agencia de Viajes. Todos los derechos reservados.
        </footer>

</body>
</html>