<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>ABM Usuarios</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Vuelos</h1>
            </header>

            <br>

            <button><a href="/busqueda/buscarVuelo">Buscar Vuelo</a></button>
        
            <button><a href="/busqueda/indexUsuarioAdministrador">Regresar al Inicio</a></button>

            <br><br>

            <img src="../static/css/Vuelos.jpg" width="100%" alt="Vuelos">


    </div>

    <section>
        <h2>Ver la Base de Datos de Vuelos</h2>
        <a href="{{ url_for('busqueda.ver_vuelos') }}">
          <div class="container">
              <button class="button">Ver Vuelos</button>
          </div>
        </a>
        <br>
    </section>

    <footer>
        <p>© 2024 Mi aplicación Flask</p>
    </footer>

</body>
</html>