<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Buscar Vuelo</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
        <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
        <span>Travel Ease</span>
        </div>
    </header>

    <div class="container">
        <header>
        <h1>Resultados de la Búsqueda de Vuelos</h1>
        </header>
    </div>

    <h2>Buscando vuelos de {{ departure_id }} a {{ arrival_id }}</h2>

    {% if best_flights %}
        <ul>
            {% for flight in best_flights %}
                <li>
                    <h3>Aerolínea: <img src="{{ flight['airline_logo'] }}" alt="{{ flight['airline'] }}" style="width:30px;"> {{ flight['airline'] }}</h3>
                    <p>Precio: {{ flight['price'] }} USD</p>
                    <p>Duración total: {{ flight['total_duration'] // 60 }} horas {{ flight['total_duration'] % 60 }} minutos</p>
                    <p>Salida: {{ flight['flights'][0]['departure_airport']['name'] }} a las {{ flight['flights'][0]['departure_airport']['time'] }}</p>
                    <p>Llegada: {{ flight['flights'][-1]['arrival_airport']['name'] }} a las {{ flight['flights'][-1]['arrival_airport']['time'] }}</p>
                    <p>Escalas: {{ flight['layovers'] | length }}</p>
                </li>
            {% endfor %}
        </ul>
    {% elif error %}
        <p>{{ error }}</p>
    {% else %}
        <p>No se encontraron vuelos.</p>
    {% endif %}

    <section>
        <div>
           <a href="{{ url_for('detalle.Vuelos') }}" method="GET">
                <button type="button">Volver</button>
            </a>
        </div>
    </section>
    
    <br><br>
    
    <footer>
            © 2024 Agencia de Viajes. Todos los derechos reservados.
        </footer>

</body>
</html>

