<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Precios de Hoteles</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
        <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
        <span>Travel Ease</span>
        </div>
    </header>

    <div class="container">
        <header>
        <h1>Resultados de la Búsqueda de Precios de Hoteles</h1>
        </header>
    </div>

    <br>
    
    <section>
        <div>
           <a href="{{ url_for('detalle.Precios_de_Hoteles') }}" method="GET">
                <button type="button">Volver</button>
            </a>
        </div>
    </section>
    
    {% for hotel in hotels %}
        <div class="hotel">
            <h2>{{ hotel.name }}</h2>
            <img src="{{ hotel.images[0].original_image }}" alt="{{ hotel.name }}" class="hotel-image">
            <p>Precio por Noche: {{ hotel.rate_per_night.lowest }} </p>
            
        </div>
    {% else %}
        <p>No se encontraron Hoteles</p>
    {% endfor %}

    <footer>
        <p>© 2024 Mi aplicación Flask</p>
    </footer>

</body>
</html>