<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Precios Aleatorios de Vuelos</title>
</head>
<body>
    <header>
    <h1>Precios de Vuelos</h1>
    </header>
    <ul>
        {% for precio in precios %}
            <li>{{ precio }}</li>
        {% endfor %}
    </ul>

    {% if price_insights %}
        <h2>Información de Precios</h2>
        <p>Precio más bajo: {{ price_insights.lowest_price }} EUR</p>
        <p>Nivel de precio: {{ price_insights.price_level }}</p>
        <p>Rango de precios típico: {{ price_insights.typical_price_range[0] }} - {{ price_insights.typical_price_range[1] }} EUR</p>
        
        <h3>Historial de Precios</h3>
        <ul>
            {% for timestamp, price in price_insights.price_history %}
                <li>Fecha: {{ timestamp | to_datetime }} - Precio: {{ price }} EUR</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron precios de Vuelos.</p>
    {% endif %}

    <button><a href="{{url_for('detalle.Precios_de_Vuelos')}}">Volver</a></button>
        <br><br><br>
</body>

<footer>
    <p>© 2024 Mi aplicación Flask</p>
</footer>

</html>


