<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Bali Resorts</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
        <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
        <span>Travel Ease</span>
        </div>
    </header>
    <body>
        <div class="container">
            <header>
                <h1>Hoteles</h1>
                </header>
    
                <br>
    {% for hotel in hotels %}
        <div class="hotel">
            <h2>{{ hotel.name }}</h2>
            <img src="{{ hotel.images[0].original_image }}" alt="{{ hotel.name }}" class="hotel-image">
            <p>Comodidades: {{ hotel.amenities }} </p>
            <p>Lugares Cercanos: {{ hotel.nearby_places }}</p>
            
        </div>
    {% else %}
        <p>No se encontraron Hoteles</p>
    {% endfor %}

    <section>
        <div>
           <a href="{{ url_for('detalle.Hoteles') }}" method="GET">
                <button type="button">Volver</button>
            </a>
        </div>
    </section>

    <footer>
        <p>© 2024 Mi aplicación Flask</p>
    </footer>

</body>
</html>
