{% extends 'layout.html' %}
{% block title %}Busca tu hotel{% endblock %}
{% block content %}
    
        <section>
            <div class="buscador-vuelos">
                <div class="search-bar">
                    
                    <label for="destino">Destino:</label>
                    <input type="text" id="destino" name="destino" placeholder="Aeropuerto de destino">
                    
                    <label for="fecha-ida">Fecha de ida:</label>
                    <input type="date" id="fecha-ida" name="fecha-ida">
                    
                    <label for="fecha-vuelta">Fecha de vuelta:</label>
                    <input type="date" id="fecha-vuelta" name="fecha-vuelta">
                    
                    <label for="pasajeros">Pasajeros:</label>
                    <select id="pasajeros" name="pasajeros">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    
                    <button type="submit">Buscar Hoteles</button>
                </div>
            </div>
        </section>
        <section class="hotel-section">
            <div class="hotel-card">
                <div class="hotel-image">
                    <img src="" alt="Imagen del hotel">
                </div>
                <div class="hotel-info">
                    <h3>Nombre del hotel</h3> 
                    <div class="hotel-description">
                        <p>Descripción breve del hotel</p>
                        <button>Ver más</button>
                    </div>
                </div>
            </div>
            <div class="hotel-card">
                <div class="hotel-image">
                    <img src="imagen-del-hotel.jpg" alt="Imagen del hotel">
                </div>
                <div class="hotel-info">
                    <h3>Nombre del hotel</h3> 
                    <div class="hotel-description">
                        <p>Descripción breve del hotel</p>
                        <button>Ver más</button>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
  
    