<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Precios de Vuelos</title>
</head>
<body>

    <header class="navbar">
        <div class="logo">
        <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
        <span>Travel Ease</span>
        </div>
    </header>

    <div class="container">
        <header>
        <h1>Historial Precios de Vuelos</h1>
        </header>
    </div>

    {% if price_insights %}
        <p>Precio más bajo: {{ price_insights.lowest_price }} EUR</p>
        <p>Nivel de precio: {{ price_insights.price_level }}</p>
        
        {% if price_insights.typical_price_range %}
            <p>Rango típico de precios: {{ price_insights.typical_price_range[0] }} - {{ price_insights.typical_price_range[1] }} EUR</p>
        {% else %}
            <p>No se encontró rango típico de precios.</p>
        {% endif %}

        <h3>Historial de Precios:</h3>
        <ul>
            {% if price_insights.price_history %}
                {% for entry in price_insights.price_history %}
                <li>{{ entry[0] | to_datetime }}: {{ entry[1] }} EUR</li>
                {% endfor %}
            {% else %}
                <li>No hay historial de precios disponible.</li>
            {% endif %}
        </ul>
    {% else %}
        <p>No se encontraron precios de Vuelos.</p>
    {% endif %}

    <br><br>
    
    <section>
        <div>
           <a href="{{ url_for('detalle.Precios_de_Vuelos') }}" method="GET">
                <button type="button">Volver</button>
            </a>
        </div>
    </section>

    <footer>
            © 2024 Agencia de Viajes. Todos los derechos reservados.
        </footer>

</body>
</html>
