<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Editar Vuelo</title>
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca">
      <span>Travel Ease</span>
    </div>
  </header>

  <div class="container">
    <header>
      <h1>Editar Vuelos</h1>
    </header>
  </div>

    <form method="POST">
      <div class="mb-3">
        <label for="origen" class="form-label">Origen</label>
        <input type="text" id="origen" name="origen" class="form-control" value="{{ vuelo[1] }}" required>
      </div>

      <div class="mb-3">
        <label for="destino" class="form-label">Destino</label>
        <input type="text" id="destino" name="destino" class="form-control" value="{{ vuelo[2] }}" required>
      </div>

      <div class="mb-3">
        <label for="fecha_ida" class="form-label">Fecha de Ida</label>
        <input type="date" id="fecha_ida" name="fecha_ida" class="form-control" value="{{ vuelo[3] }}" required>
      </div>

      <div class="mb-3">
        <label for="fecha_vuelta" class="form-label">Fecha de Vuelta</label>
        <input type="date" id="fecha_vuelta" name="fecha_vuelta" class="form-control" value="{{ vuelo[4] }}" required>
      </div>

      <div class="mb-3">
        <label for="horario_salida" class="form-label">Horario de Salida</label>
        <input type="time" id="horario_salida" name="horario_salida" class="form-control" value="{{ vuelo[5] }}" required>
      </div>

      <div class="mb-3">
        <label for="horario_llegada" class="form-label">Horario de Llegada</label>
        <input type="time" id="horario_llegada" name="horario_llegada" class="form-control" value="{{ vuelo[6] }}" required>
      </div>

      <div class="mb-3">
        <label for="pasajeros" class="form-label">Pasajeros</label>
        <input type="number" id="pasajeros" name="pasajeros" class="form-control" value="{{ vuelo[7] }}" required>
      </div>

      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <a href="{{ url_for('busqueda.ver_vuelos') }}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>

  <br><br>

  <footer>
        © 2024 Agencia de Viajes. Todos los derechos reservados.
    </footer>
</body>
</html>
