<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Ver Hoteles</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
          <img src="{{ url_for('static', filename='css/ruta-del-logo.png') }}" alt="Logo de la Marca" />
          <span>Travel Ease</span>
        </div>
      </header>
    
      <div class="container">
        <header>
          <h1>Lista de Hoteles</h1>
        </header>
      </div>

    {% for hotel in hoteles %}
        <div>
            <h2>{{ hotel[1] }}</h2>
            <p>{{ hotel[2] }}</p>
            <p>{{ hotel[3] }}</p>
            <br>
            <section>
                <div>
                  <a href="{{ url_for('busqueda.editar_hotel', id=hotel[0]) }}" class="btn btn-primary">
                    <button>Editar</button>
                  </a>
                </div>
            </section>

            <br>

            <section>
                <div>
                  <a href="{{ url_for('busqueda.eliminar_hotel', id=hotel[0]) }}" 
                   class="btn btn-danger" 
                   onclick="return confirm('¿Estás seguro de que deseas eliminar este hotel?');">
                  <button>Eliminar</button>
                </a>
                </div>
            </section>

            <br>

        </div>
    {% else %}
        <p>No se encontraron hoteles.</p>
    {% endfor %}

    <section>
        <div>
          <a href="{{ url_for('busqueda.crear_hotel') }}" class="btn btn-success"><button>Crear Hotel</button></a>
        </div>
    </section>

    <br>

    <section>
        <div>
           <a href="{{ url_for('detalle.Hoteles') }}" method="GET">
                <button type="button">Volver</button>
            </a>
        </div>
    </section>

    <br>

    <footer>
        © 2024 Agencia de Viajes. Todos los derechos reservados.
    </footer>

</body>
</html>
